* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1.25rem "Roboto", sans-serif;
  background-color: hsl(210, 36%, 96%);
  color: #222;
}

/*HEADER*/

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3ch;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  letter-spacing: 0.15ch;
  font-size: 2.5rem;
}

.borderBotom {
  display: flex;
  width: 40%;
  height: 5px;
  background-color: #c59d5f;
  margin-bottom: 3ch;
  margin-top: 1ch;
}

/*BTNS*/

button {
  height: 3ch;
  background-color: inherit;
  color: #c59d5f;
  font-size: large;
  border-radius: 9px;
  border-top: 2px solid #c59d5f;
  border-left: 2px solid #c59d5f;
  border-right: 2px solid #102a42;
  border-bottom: 2px solid #102a42;

  margin: 0 0.5ch;
  text-transform: capitalize;
  cursor: pointer;
}

button:hover {
  background-color: #c59d5f;
  color: #fff;
  transition-duration: 0.5s;
}

.all {
  width: 3ch;
}

.breakfast {
  width: 9ch;
}

.lunch {
  width: 6ch;
}

.shakes {
  width: 7ch;
}

.dinner {
  width: 6ch;
}

/*menu*/

menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2ch;
  align-items: center;
}

.mealContainer {
  display: flex;
  margin: 2ch 0;
}
aside {
  width: 40ch;
  display: flex;
  flex-direction: column;
}

img {
  width: 25ch;
  height: 15ch;
  border: 4px solid #c59d5f;
  border-radius: 9px;
  position: relative;
  right: 2ch;
  object-fit: cover;
}

h4 {
  text-transform: capitalize;
}

.mealPrice {
  color: #c59d5f;
}

.underline {
  border: 1px solid #102a42;
  border-style: dotted;
  margin: 2ch 0;
}
