*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(210, 36%, 96%);
    color: #222;
}

#title{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    margin-top: 3ch;
    margin-bottom: 3ch;
    letter-spacing: 0.5ch;
}

#border_bottom{
    display: flex;
    background-color: #C59D5F;
    width:10%;
    height: 5px;
    margin-top: 1ch;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
}

button{
    width: auto;
    height: 3.5ch;
    background-color: inherit;
    color: #C59D5F;
    border-top: 2px solid #C59D5F;
    border-left: 2px solid #C59D5F;
    border-radius: 9px;
    cursor: pointer;
    font-size: large;
    margin: 2ch 1ch;
}

button:hover{
    background-color: #C59D5F;
    color: #fff;
}

.all{
    width: 4ch;
}

.breakfast{
    width: 10ch;
}

.lunch{
    width: 7ch;
}

.shakes{
    width: 7ch;
}

.dinner{
    width: 7ch;
}

menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mealItems{
    display: flex;
    margin-bottom: 2ch;
    
}

aside{
    padding-left: 2ch;
}

h4{
    text-transform: capitalize;
}
img{
    width: 270px;
    height: 180px;
    object-fit: cover;
    border: 3px solid #C59D5F;
    border-radius: 9px;
}


#price{
    color: #C59D5F;
}
#dotted_border{
    display: flex;
border-bottom: 1px solid #222;
border-bottom: dotted;
margin: 2ch 0;
}