*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body{
    font: 1.25rem "Roboto", sans-serif;
    background-color: hsl(210, 36%, 96%);
    color: #222;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5ch;
}

h1{
    font-size: 48px;
    letter-spacing: 0.25ch;
}

#borberBottom{
    display: flex;
    background-color: #C59D5F;
    width: 50%;
    height: 7px;
    margin-left:4.5ch;
    margin-top: 0.5ch;
    margin-bottom: 2ch;
    
}

button{
cursor: pointer;
font: 1rem large arial;
background-color: inherit;
border-left: 2px solid #C59D5F;
border-top: #C59D5F 2px solid;
border-radius: 9px;
color: #C59D5F;
height: 3.25ch;
margin: 0 0.5ch;
}

button:hover{
    background-color: #C59D5F;
    color: #fff;
    transition-timing-function: ease-in;
    transition-duration: 0.15s;
}

.btnAll{
    width: 4ch;
}

.btnBreakfast{
    width: 9ch;
}

.btnLunch{
    width: 6.25ch;
}

.btnShakes{
    width: 7ch;
}

.btnDinner{
    width: 6.9ch;
}



/* menuItems*/

menu{
    margin-top: 4ch;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mealContainer{
    display: flex;
    margin-top: 2ch;
    margin-left: 2ch;
}

img{
    width: 25ch;
    height: 17ch;
    border-radius: 9px;
    border: 5px solid #C59D5F;
    margin-right: 1ch;
   
}

aside{
    margin-left: 1ch;
}

.mealPrice{
    float: right;
    color: #C59D5F;
}

.mealName{
    text-transform: capitalize;
}

.underline{
    display: flex;
    border: 1px solid #222;
    border-style: dotted;
    margin: 1ch 0;
}
